@charset 'UTF-8'
/*
 |--------------------------------------------------------------------------
 | futura_home.sass file
 |--------------------------------------------------------------------------
 |
 | Copyright © 2017 FUTURA (Steven Ho). All rights reserved.
 |
 */
/* compass needs to install from RUBY and initialize */

/* Variables include color,border,shadow,more and more*/
@import 'partials/variables'

.home-header
	.header-title
		position: absolute
		color: white
		margin: calc(20vh) auto 0px auto
		width: 100%
		z-index: 1
		h1
			+typetitle()
		a
			font-size: calc(.2em + 1vh)
			text-decoration: none
			display: inline-block
			margin-top: calc(78px + 1vh)
			padding: 6px 14px
			color: white
			border: 1px solid white
			border-radius: 20px
			font-weight: $font-bold-weight
			&:hover
				background: $brands-color-tilt-gradient
				border: 0
	> .container-fluid
		padding: 0
	.header-image-size
		background: transparent
		min-height: calc(50px + 48vh)
.cards-container
	margin: 0
	.fr-card
		height: 290px
		margin: 12px 0
		padding: 0 6px
		.card-info
			text-decoration: none
			display: block
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 5px 15px rgba(0, 0, 0, 0.05)
			border-radius: 4px
			height: inherit
			background: #fff
			transition: box-shadow .1s ease-in
			&:hover
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 5px 15px rgba(0, 0, 0, 0.1)
			.card-title
				height: 100px
				background: #00aaff
				border-radius: 4px 4px 0 0
				display: flex
				.title-right
					flex: 1
					margin-top: 50px
					a
						text-decoration: none
						color: #fff
					h3
						font-size: 1.6rem
						font-weight: 700
				.title-left
					flex: 3
					
					margin: 24px 16px
					a
						color: #fff
						text-decoration: none
						h2
							font-size: 1.4rem
					h3
						font-size: 1rem
		
						color: #f0f0f0
			.card-content
				.card-detail
					height: 140px
					text-overflow: ellipsis
					p
						font-size: .9rem
				.card-bottom
					position: absolute
					bottom: 0
					right: 0
					margin-right: 20px
					a
						
					p
						margin: 8px 4px
						font-size: .8rem
						display: inline-block
