@charset 'UTF-8'
/*
 |--------------------------------------------------------------------------
 | navbar.sass file
 |--------------------------------------------------------------------------
 |
 | navbar style here , than import for app.sass to collect all file
 | Copyright © 2017 FUTURA (Steven Ho). All rights reserved.
 |
 */

/* compass needs to install from RUBY and initialize */

/* Variables include color,border,shadow,more and more*/
@import 'partials/variables'
@import 'partials/mixin'
.futura-navbar
	height: 60px
	background: #fff
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05)
	.futura-logo
		  margin-top: 6px
		  transform: scale(0.7)
	.futura-register
		background-color: $brands-color-green
		padding: 1px 10px
		transition: background-color 0.2s ease
		&:hover
			background-color: $brands-color-deep-green
			.nav-link
				color: #fff
		.nav-link
			color: #fff
	.nav-item
		margin-right: 12px
		a
			transition: color 0.2s ease
			font-size: .8em
+phone-width()
	.navbar-toggler
		transform: scale(0.8)
	.navbar-collapse
		background: #fff
		> ul
			text-align: center
		.nav-item
			width: 100%

